// HTML5 boilerplate imports
@import 'boilerplate/normalize';
@import 'boilerplate/main';

// Type
@import 'modules/type';

// Colors
@import'modules/colors';

// Content Styles
@import 'partials/header';
@import 'partials/about';
@import 'partials/projects';
@import 'partials/contact';

body {
  font-size: 18px;
  font-family: $body-stack;
  color: $body-color;
}

// .container {
//   width: 85%;
//   margin: 0 auto;
// }

h2 {
  font-size: 1.667rem;
  letter-spacing: .2rem;
  font-weight: 700;
  color: black;
  font-family: $header-stack;
  text-transform: uppercase;
  &:after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: .4rem;
    height: 1px;
    width: 65px;
    border-bottom: 4px solid black;
  }
}

.contact:before, .projects:before {
  content: '';
  display: block;
  height: 80px;
  width: 120%;
  position: absolute;
  left: 50%;
  top: 0;
  background: #FFF;
  transform: rotate(-5deg)translateX(-50%);
  transform-origin: center top;
  transform: rotate(-5deg)translateX(-50%)translateY(-100%);
}