@media only screen and (min-width: 700px) {
    /* Style adjustments for viewports that meet the condition */
    .about, .projects .projects-inner {
      width: 66%;
    }

    .about {
      h2 {
        margin-bottom: 6rem;
      }
      p {
        line-height: 170%;
        font-size: 1.333rem;
        margin: 0 auto;
      }
    }

    .projects {
      .project {
        h3 {
          margin-top: 2.5rem;
          margin-bottom: 2.5rem;
        }
        p {
          margin-top: 2.5rem;
          margin-bottom: 2.5rem;
        }
      }
    }
}

/* This is where the diagonal slices start to break */
@media only screen and (min-width: 768px) {
  .projects {
    margin-top: 8rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .project .image-contain {
    position: relative;
    overflow:hidden;
  }

  .project a:before {
    content: "";
    opacity: 0;
    background:rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 7%;
    left: 0;
    z-index: 100;
  }

  .project a:after {
    content: "View Project";
    opacity: 0;
    font-family: $header-stack;
    font-weight: 700;
    text-transform: uppercase;
    border: 4px solid white;
    color: white;
    position: absolute;
    top: calc(53% - 20px);
    left: calc(50% - 83.5px);
    padding: .2rem 1rem;
    z-index: 200;
  }

  .project a:hover:after, .project a:hover:before {
    opacity: 1;
  }

  .contact:before, .projects:before {
    height: 150px;
  }

  .contact-content {
    position: relative;
    bottom: 3rem;
  }

}

@media only screen and (min-width: 1200px) { 
  .about {
    p {
      width: 75%;
      line-height: 190%;
    }
  }
}

@media only screen and (min-width: 2000px) { 
  .contact:before, .projects:before {
    height: 250px;
  }

  .about {
    p {
      width: 50%;
    }
  }
}